<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Sophie's Bubble Sort
{% endblock %}

{% block content %}

<br>
<h1 class="title"><i>Bubble Sort</i></h1>
<h2 class="sub-title">enter some numbers</h2>
<br>

<form method="POST" ID="bubblesort" action="/sophie/bubble">
    <input id="first" name="first" class="input" placeholder="first number" type="number" required="required">
    <input id="second" name="second" class="input" placeholder="second number" type="number" required="required">
    <input id="third" name="third" class="input" placeholder="third number" type="number" required="required">
    <input id="fourth" name="fourth" class="input" placeholder="fourth number" type="number" required="required">
    <input id="fifth" name="fifth" class="input" placeholder="fifth number" type="number" required="required">
    <button class="button"><span>Sort</span></button>
</form>

<br>
<h4 class="display">Unsorted:: {{numberlist}}</h4>
<h4 class="display">Sorted: {{sortedlist}}</h4>
<br>

{% endblock %}
