<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Sophie's Minilab
{% endblock %}

{% block content %}

<style>
    table, td, th {
        border: 1px solid blue;
    }
    td, th {
        text-align:left;
    }
</style>

<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%;">

        <div class="col-12" style="text-align: center;">
            <h1><strong>Even Number Sequence in Python</strong></h1>
        </div>

        <div class="jumbotron text-center row">
            <div class="col-md-6">
                <h3>Type the nth number in the even number sequence</h3>
                <img class="img-responsive py-3" src="/static/assets/prime_numbers_spiral.svg" alt="" width="25%" height="Auto">
                <form id="fibForm" action="/sophie/minilab" method="POST" >
                    <input name="series" id="series" type="number" min="2" max="150" >
                    <button>Go!</button>
                </form>
            </div>

            <div class="col-md-6">
                <h3>Even Number series for {{even.series}}</h3>
                <!-- Number, List table -->
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">List</th>
                    </tr>
                    <tr>
                        <td>{{even.number}}</td>
                        <td>{{even.list}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<br>
<h1 class="title"><i>Bubble Sort</i></h1>
<h2 class="sub-title">enter some numbers</h2>
<br>

<form method="POST" ID="sort" action="/sophie/minilab">
    <input id="first" name="first" class="input" placeholder="first number" type="number" required="required">
    <input id="second" name="second" class="input" placeholder="second number" type="number" required="required">
    <input id="third" name="third" class="input" placeholder="third number" type="number" required="required">
    <input id="fourth" name="fourth" class="input" placeholder="fourth number" type="number" required="required">
    <input id="fifth" name="fifth" class="input" placeholder="fifth number" type="number" required="required">
    <button class="button"><span>Sort</span></button>
</form>

<br>
<h4 class="display">Unsorted:: {{numberlist}}</h4>
<h4 class="display">Sorted: {{sortedlist}}</h4>
<br>

{% endblock %}
