<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<body>

<div class="wrapper" data-masonry='{ "itemSelector": ".card", "columnWidth": 160 }'>

    <div class="card">
        <i class="fal fa-address-card"></i><br>
        <span class="card-name">About Us</span>
        <div class="card-content">
            <b>Team Name: </b>ERROR404<br>
            <b>Class:</b> AP Comp Sci Principles<br>
            <b>Location:</b> Del Norte High School
            <br><br>
            yada yada about us bio lol
        </div>
    </div>


    <div class="card">
        <i class="fal fa-smile"></i><br>
        <span class="card-name">Team Members</span>
        <div class="tags-card-content">

            <h4>The Original 5</h4>
            <a href="https://github.com/kailamanangan16">Kaila Managan</a>
            <a href="https://github.com/taaw">Nolan D'Esopo</a>
            <a href="https://github.com/AdamHolbel">Adam Holbel</a>
            <a href="https://github.com/sophieleeajh">Sophie Lee</a>
            <a href="https://github.com/EyJajb">Ethan Sun</a>

        </div>
    </div>
    
    <div class="card">
        <i class="fal fa-link"></i><br>
        <span class="card-name">Links</span>
        <div class="card-content">
            <div class="tags-card-content">
                <a href="https://github.com/error404csp/weather">github repo</a>
                <a href="https://github.com/error404csp/weather/projects/1">scrum board</a>
                <a href="/minilabs">minilabs</a>
            </div>
        </div>
    </div>
    
    <div class="card">
        <i class="fal fa-comments-alt"></i><Br>
        <span class="card-name">FAQ</span>
        <div class="card-content">

            <b><span style="color:rgba(255,255,255,0.6);">Q: What is this website?</span></b><br>
            <span style="padding-bottom:10px;">A: This is a weather app ma'am.</span>

            <br><br>

            <b><span style="color:rgba(255,255,255,0.6);">Q: When did you start this project?</span></b><br>
            <span style="padding-bottom:10px;">A: 17 March 2021!</span>

            <br><br>

            <b><span style="color:rgba(255,255,255,0.6);">Q: some people ask me if I even skate</span></b><br>
            <span style="padding-bottom:10px;">A: *flips ice cream* do <i>you</i> even skate? <strike>is this even funny anymore</strike></span>

        </div>
    </div>

    <div class="card">
        <i class="fal fa-smile"></i><Br>
        <span class="card-name">Minilabs</span>
        <div class="card-content">

            {% for card in
                [{"animal":"fas fa-cat","person":"Kaila"},
                {"animal":"fas fa-dog","person":"Nolan"},
                {"animal":"fas fa-dove","person":"Adam"},
                {"animal":"fas fa-frog","person":"Sophie"},
                {"animal":"fas fa-fish","person":"Ethan"}]
            %}

            <div class="flip-card" onclick="goToLab(`{{card.get('person')}}`)">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <i class='{{card.get("animal")}}'></i>
                    </div>

                    <div class="flip-card-back">
                        {{card.get("person")}}'s Minilabs
                    </div>

                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    <div class="card" style="padding:0px;overflow:hidden;">
        <div class="card-content" style="margin-top:0px;position:relative;bottom:20px">
            <img id="CaliMap" alt="California Map" src="../static/CaliMap.PNG" usemap="#California"/>
            <map name="California">
                <area shape="circle" coords="135,70,10" alt="5563397" title="Eureka" href="#"/>
                <area shape="circle" coords="185,80,10" alt="5570160" title="Redding" href="#"/>
                <area shape="circle" coords="200,115,10" alt="5336269" title="Chico" href="#"/>
                <area shape="circle" coords="210, 160, 10" alt="5389489" title="Sacramento" href="#"/>
                <area shape="circle" coords="170, 165, 10" alt="5393287" title="Santa Rosa" href="#"/>
                <area shape="circle" coords="185, 185, 10" alt="5378538" title="Oakland" href="#"/>
                <area shape="circle" coords="175, 185, 10" alt="5391959" title="San Francisco" href="#"/>
                <area shape="circle" coords="195, 200, 10" alt="5392171" title="San Jose" href="#"/>
                <area shape="circle" coords="200, 225, 10" alt="5391295" title="Salinas" href="#"/>
                <area shape="circle" coords="260, 230, 10" alt="5350937" title="Fresno" href="#"/>
                <area shape="circle" coords="193, 230, 10" alt="5374361" title="Monterey" href="#"/>
                <area shape="circle" coords="230, 280, 10" alt="5392323" title="San Luis Obispo" href="#"/>
                <area shape="circle" coords="283, 283, 10" alt="5325738" title="Bakersfield" href="#"/>
                <area shape="circle" coords="233, 295, 10" alt="5393180" title="Santa Maria" href="#"/>
                <area shape="circle" coords="260, 315, 10" alt="5392952" title="Santa Barbara" href="#"/>
                <area shape="circle" coords="335, 320, 10" alt="5391710" title="San Bernadino" href="#"/>
                <area shape="circle" coords="305, 330, 10" alt="5368381" title="Los Angeles" href="#"/>
                <area shape="circle" coords="322, 335, 10" alt="12213683" title="Anaheim" href="#"/>
                <area shape="circle" coords="310, 340, 10" alt="5367929" title="Long Beach" href="#"/>
                <area shape="circle" coords="362, 340, 10" alt="5380668" title="Palm Springs" href="#"/>
                <area shape="circle" coords="325, 344, 10" alt="5392900" title="Santa Ana" href="#"/>
                <area shape="circle" coords="335, 360, 10" alt="5378771" title="Oceanside" href="#"/>
                <area shape="circle" coords="345, 360, 10" alt="5346827" title="Escondido" href="#"/>
                <area shape="circle" coords="345, 380, 10" alt="5391832" title="San Diego" href="#"/>
            </map>
        </div>
    </div>

    <div class="card" style="width:250px;height:300px;font-size:30px;color:black">
        <div id="SelectedCity"></div><br/>
        <div id="SelectedCityTemp"></div><br/>
        <div id="SelectedCitySunny"></div>
    </div>


</div>
        

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise/dist/es6-promise.auto.min.js"></script>
<script src="{{url_for('static', filename='imageMapster.js')}}"></script>

<script>
    var lastClickedCity;
    function clickCity() {
        lastClickedCity=$(this).alt;
    };

    var hoverProperties = {
        fill : true,
        fillOpacity : 0.3,
        fillColor: 'ff0000'
    };

    var clickedProperties = {
        stroke: true,
        strokeWidth: 3,
        strokeColor: 'ff0000',
    };

    $('#CaliMap').mapster({
        singleSelect: true,
        mapKey: "alt",
        onMouseover: function() {
            $(this).mapster('set',true,hoverProperties);
        },
        onMouseout: function() {
            $(this).mapster('set',false);
        },
        onClick: function() {
            var thisCity = $(this).mapster('highlight')[0]
            $.ajax({
                type : 'POST',
                contentType: 'application/json',
                url : '/weatherAPI',
                data: JSON.stringify(thisCity.alt),
            }).done(function(data) {
                console.log(data)
                data = JSON.parse(data)
                temperatureKelvin = parseInt(data.list[0].main.temp)
                temperature = Math.round((temperatureKelvin - 273.15) * 9/5 + 32)
                weather = data.list[0].weather[0].description
                $("#SelectedCity").text(thisCity.title).show();
                $("#SelectedCityTemp").text(temperature + " °F").show();
                $("#SelectedCitySunny").text(weather).show();
            });
        }
    });

    function goToLab(person) {
        switch(person) {
            case "Kaila":
                window.location.href = "/kaila/kailaData";
                break;
            case "Nolan":
                window.location.href = "/nolan/minilab";
                break;
            case "Adam":
                window.location.href = "/adam/minilab";
                break;
            case "Sophie":
                window.location.href = "/sophie/bubble";
                break;
            case "Ethan":
                window.location.href = "/ethan2/ethan2Bubble";
                break;
        }
    };
</script>

</body>
{% endblock %}
