<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Minilabs
{% endblock %}

{% block content %}

<body>
<h1 class="title"><i>Minilabs</i></h1>
<h2 class="sub-title">Check out all our minilabs from Trimester 3 here!</h2>

<a href="/sophie/minilab">Sophie</a></br>
<a href="/sophie/bubble">Sophie Bubble Sort</a></br>
<a href="/kaila/kailaData">Kaila</a></br>
<a href="/adam/minilab">Adam</a></br>
<a href="/nolan/minilab">Nolan</a></br>
<a href="/ethan/minilab-ethan">Ethan</a></br>
<a href="/ethan2/ethan2Bubble">Ethan Bubble Sort</a></br>

<p>sorry the css is shite</p>

</body>
{% endblock %}
