<div class="wrapper" data-masonry='{ "itemSelector": ".card", "columnWidth": 160 }'>

    <div class="card">
        <i class="fab fa-python"></i><br>
        <span class="card-name">Team Members</span>
        <div class="tags-card-content">

            <h4>Check out all our minilabs from Tri 3 here!</h4>
            <a href="/sophie/minilab">Sophie</a></br>
            <a href="/sophie/bubble">Sophie Bubble Sort</a></br>
            <a href="/kaila/kailaData">Kaila</a></br>
            <a href="/adam/minilab">Adam</a></br>
            <a href="/nolan/minilab">Nolan</a></br>
            <a href="/ethan/minilab-ethan">Ethan</a></br>
            <a href="/ethan2/ethan2Bubble">Ethan Bubble Sort</a></br>

        </div>
    </div>

</div>
