<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Nolan's Minilab
{% endblock %}
{% block content %}
<body>
<script>
    $(document).ready(function() {
        $('form').on('submit', function(event) {
            $.ajax({
                data : {
                    initial: $('#initial').val(),
                    goBack: $('#goBack').val(),
                    nPass: $('#nPass').val()
                },
                type : 'POST',
                url : '/nolan/minilabFunc'
            })
            .done(function(data) {
                if (data.error) {
                    $('#statement').css("color", "red");
                    $('#statement').text(data.error).show();
                    $('#sequence').hide();
                } else {
                    $('#statement').css("color", "blue");
                    $('#statement').text(data.statement).show();
                    $('#sequence').text(data.sequence).show();
                }
            });
            event.preventDefault();
        });
    });
</script>
<img src="{{url_for('.static', filename='sequences.png')}}" alt="sequences.png" length="40%" width="40%" id="sequences" style="margin-right:100px;display:inline;float:right"/>
<form style="border:1px solid #ccc; max-width:50%;">
    <div class="container">
        <label for="initial"><b>Initial Value:</b></label>
        <input type="text" placeholder="Enter 1st # in sequence" id="initial" required>

        <br><p>Enter how many consecutive numbers before the next number are summed to get the next number. For a Fibonnaci sequence, this is 2.</p>
        <label for="goBack"><b>Consecutive Sum of:</b></label>
        <input type="text" placeholder="2" value = "2" id="goBack" required>

        <label for="nPass"><b>Sequence up to:</b></label>
        <input type="text" placeholder="Enter the amount of numbers in the sequence you want" id="nPass" value="10" required>

        <button type="submit">Find Sequence</button>
        <br>
        <br>
        <div style="color:blue;font-size:large" id="statement"></div>
        <br><div style="color:blue;font-size:large" id="sequence"></div>
    </div>
</form>
<p>If you choose a very high consecutive sum, it will just look like every previous number in the sequence is being added together to get the next. You will have to read through the same number of terms as the consecutive sum you chose to see where that stops.</p>
</body>
{% endblock %}
